In [8]:
import cx_Oracle as ora
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
import numpy as np

def setKoreanFont() :
    from matplotlib import font_manager, rc
    font_name = font_manager.FontProperties(fname="C:/Windows/Fonts/gulim.ttc").get_name()
    rc("font", family=font_name)
    plt.rcParams["font.size"]=15
    plt.rcParams["figure.figsize"] = 14,8

In [19]:
con = ora.connect("WJV/wjvc3005@10.101.1.212:1521/CDW")

df_resource_001 = pd.read_sql("""

WITH VW_MIN_MAX AS (
SELECT  
    MAX(IDX_C1) AS MAX_IDX_C1,
    MIN(IDX_C1) AS MIN_IDX_C1,
    MAX(IDX_E2) AS MAX_IDX_E2,
    MIN(IDX_E2) AS MIN_IDX_E2,
    MAX(IDX_F1) AS MAX_IDX_F1,
    MIN(IDX_F1) AS MIN_IDX_F1,
    MAX(IDX_F2) AS MAX_IDX_F2,
    MIN(IDX_F2) AS MIN_IDX_F2,
    MAX(IDX_I1) AS MAX_IDX_I1,
    MIN(IDX_I1) AS MIN_IDX_I1,
    MAX(CNT)    AS MAX_CNT,
    MIN(CNT)    AS MIN_CNT
FROM SULIM_PRDCT_MART_001
)
SELECT
    SALE_YYMM,
    CNT,
    ROUND((IDX_C1-MIN_IDX_C1)/(MAX_IDX_C1-MIN_IDX_C1)*100,5) AS NORM_IDX_C1,
    ROUND((IDX_E2-MIN_IDX_E2)/(MAX_IDX_E2-MIN_IDX_E2)*100,5) AS NORM_IDX_E2,
    ROUND((IDX_F1-MIN_IDX_F1)/(MAX_IDX_F1-MIN_IDX_F1)*100,5) AS NORM_IDX_F1,
    ROUND((IDX_F2-MIN_IDX_F2)/(MAX_IDX_F2-MIN_IDX_F2)*100,5) AS NORM_IDX_F2,
    ROUND((IDX_I1-MIN_IDX_I1)/(MAX_IDX_I1-MIN_IDX_I1)*100,5) AS NORM_IDX_I1,
    ROUND((CNT-MIN_CNT)/(MAX_CNT-MIN_CNT)*100,5) AS NORM_CNT
FROM
    SULIM_PRDCT_MART_001 A,
    VW_MIN_MAX B
WHERE 1=1

""", con=con)

df_resource_002 = pd.read_sql("""

SELECT * FROM SULIM_PRDCT_MART_002

""", con=con)


df_resource_004 = pd.read_sql("""

SELECT * FROM SULIM_PRDCT_MART_004

""", con=con)


df_resource_008 = pd.read_sql("""

SELECT * FROM SULIM_PRDCT_MART_008

""", con=con)

df_resource_003 = pd.read_sql("""

SELECT * FROM SULIM_PRDCT_MART_003

""", con=con)

df_resource_tp1 = pd.read_sql("""

SELECT * FROM SULIM_PRDCT_MART_TP1

""", con=con)

con.close()

In [20]:
print(df_resource_001)
# print(df_resource_002)
# print(df_resource_004)
# print(df_resource_008)
# print(df_resource_003)
# print(df_resource_tp1)

    SALE_YYMM    CNT  NORM_IDX_C1  NORM_IDX_E2  NORM_IDX_F1  NORM_IDX_F2  \
0      200401  20067      0.71545      2.14332      0.00000      0.97941
1      200402  24601      0.00000      0.00000      0.99355      0.00000
2      200504  38617     25.84246     15.65001     24.02706     24.74515
3      200505  40344     32.60850     29.44312     31.16241     35.45146
4      200506  43677     35.64435     34.68571     34.48987     29.51502
5      200507  41047     41.50333     39.32135     41.51150     33.12376
6      200508  38405     36.88013     41.86867     36.54803     27.12554
7      200509  33454     32.23584     36.64504     33.01873     20.47135
8      200510  30491     23.53262     29.17378     21.23404     13.45375
9      200511  30901     18.32405     20.38049     15.59400      9.76505
10     200512  29376     19.04477     18.55582     15.92660     12.87228
11     200601  28227     16.36402     17.99818     12.92890     11.79111
12     200602  33424     14.34423     16.45423     11.54021      9.52701
13     200603  42242     23.47988     18.35097     20.45513     20.26966
14     200604  41862     38.98079     30.60013     36.69301     39.47631
15     200605  47010     38.31280     43.93043     36.91617     34.01777
16     200606  50568     47.36231     48.35363     45.89647     37.03778
17     200607  44300     53.61682     53.22256     52.85129     44.18803
18     200608  39172     42.59848     52.69337     42.16249     29.21520
19     200609  41559     33.58412     41.18584     31.46800     18.61065
20     200610  42655     37.78016     37.17044     32.98320     25.80997
21     200611  36663     39.70679     40.76856     34.90207     30.77245
22     200612  31385     29.17362     37.38098     24.03133     18.72331
23     200701  40612     19.89558     26.67577     15.16758      9.45796
24     200702  37444     36.11546     26.73836     31.34861     29.73307
25     200703  52807     30.54652     36.30363     27.19533     27.10192
26     200704  48300     57.55269     42.00334     53.47102     51.44368
27     200705  66234     49.62997     57.88665     45.39330     44.86217
28     200706  75532     81.15562     63.93726     80.00398     68.55160
29     200707  54264     97.50031     93.19449    100.00000     91.75222
..        ...    ...          ...          ...          ...          ...
144    201702  47138     34.33298     56.65946     28.45183     11.90195
145    201703  61998     47.58732     39.93020     39.58268     30.63798
146    201704  61216     73.70928     61.27802     64.94016     70.93744
147    201705  55667     72.33463     79.07515     62.78819     62.22267
148    201706  59816     62.58020     74.33519     51.13711     40.79734
149    201707  51739     69.87361     68.21441     61.24456     48.72168
150    201708  48546     55.67529     67.68901     51.53652     37.62470
151    201709  51049     50.06240     55.40382     43.83972     29.86753
152    201710  45270     54.46236     54.92015     44.26188     38.37152
153    201711  46437     44.30362     52.24764     35.20766     29.99473
154    201712  44421     46.35505     48.01411     38.07175     30.63980
155    201801  51280     42.81119     47.04488     34.04071     30.18189
156    201802  51179     54.86842     49.66997     46.85732     42.41273
157    201803  64517     54.69088     57.86958     47.43725     43.56840
158    201804  58828     78.13736     69.05846     69.82261     65.10821
159    201805  51987     68.13683     81.12173     61.70367     54.25290
160    201806  55063     56.11124     67.91852     49.73278     33.38361
161    201807  65071     61.51845     60.92713     55.56329     41.64229
162    201808  58571     79.11122     72.11600     70.84459     65.16817
163    201809  41976     67.68506     78.81909     59.79333     50.70231
164    201810  46358     38.51319     60.64262     30.02104     17.95105
165    201811  47105     46.21618     44.54307     38.00495     27.97776
166    201812  41004     47.52931     50.61454     40.51653     37.34487
167    201901  43988     36.80454     45.60525     30.04378     23.70033
168    201902  41784     42.05003     41.42863     33.00026     28.61919
169    201903  55244     38.17568     42.21957     30.52705     28.03591
170    201904  56835     61.83662     51.93468     56.72314     52.87010
171    201905  59444     64.63340     66.56614     58.09336     57.77443
172    201906  57726     69.21968     70.19461     62.38167     51.54362
173    201907  57150     66.19966     72.63951     61.19766     47.36794

     NORM_IDX_I1  NORM_CNT
0        0.00000   0.00000
1        0.69987   7.97019
2       28.64086  32.60850
3       30.80745  35.64435
4       37.84292  41.50333
5       31.53540  36.88013
6       27.60617  32.23584
7       18.14274  23.53262
8       17.62215  18.32405
9       16.44490  19.04477
10      10.43764  16.36402
11       7.82391  14.34423
12      10.91718  23.47988
13      33.13820  38.98079
14      35.80594  38.31280
15      37.48434  47.36231
16      44.55221  53.61682
17      37.85156  42.59848
18      33.68903  33.58412
19      24.23856  37.78016
20      25.15229  39.70679
21      26.13946  29.17362
22      20.14300  19.89558
23      17.09509  36.11546
24      22.55800  30.54652
25      47.70381  57.55269
26      51.20102  49.62997
27      53.71322  81.15562
28      64.54400  97.50031
29      59.77664  60.11391
..           ...       ...
144     52.97231  47.58732
145     87.50810  73.70928
146     89.70061  72.33463
147     91.63391  62.58020
148    100.00000  69.87361
149     86.78446  55.67529
150     79.17009  50.06240
151     62.63447  54.46236
152     60.55428  44.30362
153     56.15415  46.35505
154     42.45259  42.81119
155     36.26604  54.86842
156     42.62755  54.69088
157     74.37249  78.13736
158     76.59740  68.13683
159     77.59105  56.11124
160     84.92677  61.51845
161     72.50184  79.11122
162     68.39331  67.68506
163     56.59697  38.51319
164     54.45630  46.21618
165     53.22720  47.52931
166     44.07483  36.80454
167     39.13682  42.05003
168     42.78740  38.17568
169     71.89269  61.83662
170     71.69396  64.63340
171     72.71137  69.21968
172     82.17264  66.19966
173     71.46066  65.18713

[174 rows x 8 columns]

In [11]:
mode = tf.global_variables_initializer()

In [21]:
xy_001 = np.array(df_resource_001, dtype=np.float32)
x_data_001 = xy_001[:,2:-1]
# print(x_data_001)
y_data_001 = xy_001[:,[-1]]
# print(y_data_001)
cnt_001 = xy_001[:,[1]]
min_cnt_001 = min(cnt_001)
max_cnt_001 = max(cnt_001)
print(min_cnt_001, max_cnt_001)

xy_002 = np.array(df_resource_002, dtype=np.float32)
x_data_002 = xy_002[:,1:-1]
# print(x_data_002)
y_data_002 = xy_002[:,[-1]]
# print(y_data_002)

xy_004 = np.array(df_resource_004, dtype=np.float32)
x_data_004 = xy_004[:,1:-1]
# print(x_data_004)
y_data_004 = xy_004[:,[-1]]
# print(y_data_004)

xy_008 = np.array(df_resource_008, dtype=np.float32)
x_data_008 = xy_008[:,1:-1]
# print(x_data_008)
y_data_008 = xy_008[:,[-1]]
# print(y_data_008)

xy_003 = np.array(df_resource_003, dtype=np.float32)
x_data_003 = xy_003[:,1:-1]
# print(x_data_003)
y_data_003 = xy_003[:,[-1]]
# print(y_data_003)

xy_tp1 = np.array(df_resource_tp1, dtype=np.float32)
x_data_tp1 = xy_tp1[:,1:-1]
# print(x_data_tp1)
y_data_tp1 = xy_tp1[:,[-1]]
# print(y_data_tp1)

[20067.] [76954.]

In [6]:
# 정수기 
# placeholder 만들기
X = tf.placeholder(tf.float32, shape=[None,5])
Y = tf.placeholder(tf.float32, shape=[None,1])
# 가중치값 초기화
W = tf.Variable(tf.random_normal([5,1],name='weight'))
# 바이어스값 초기화
b = tf.Variable(tf.random_normal([1]), name='bias')

# 가설식 설정
hypothesis = tf.matmul(X,W)+b
# 비용함수 설정
cost = tf.reduce_mean(tf.square(hypothesis-Y))
# 최적화함수 설정
optimizer = tf.train.GradientDescentOptimizer(learning_rate=0.000005)
train = optimizer.minimize(cost)

In [7]:
# 세션 초기화
sess = tf.Session()
# 글로벌 변수 초기화
sess.run(tf.global_variables_initializer())
# 학습진행
for step in range(10000) :
    cost_, hypo_, _ = sess.run([cost,hypothesis,train],feed_dict={X:x_data_001,Y:y_data_001})
    if step % 500 == 0:
        print("#",step," 손실 비용:",cost_)
        print("- 판매량 : ", hypo_[0])

# 0  손실 비용: 10188.802
- 판매량 :  [1.4938996]
# 500  손실 비용: 135.31876
- 판매량 :  [0.1159997]
# 1000  손실 비용: 130.82913
- 판매량 :  [0.2006419]
# 1500  손실 비용: 129.8772
- 판매량 :  [0.23669344]
# 2000  손실 비용: 129.41714
- 판매량 :  [0.25364456]
# 2500  손실 비용: 129.04366
- 판매량 :  [0.26277536]
# 3000  손실 비용: 128.69844
- 판매량 :  [0.26857293]
# 3500  손실 비용: 128.37119
- 판매량 :  [0.27291933]
# 4000  손실 비용: 128.05899
- 판매량 :  [0.27666092]
# 4500  손실 비용: 127.76055
- 판매량 :  [0.28019997]
# 5000  손실 비용: 127.47494
- 판매량 :  [0.2837433]
# 5500  손실 비용: 127.20143
- 판매량 :  [0.28739747]
# 6000  손실 비용: 126.93938
- 판매량 :  [0.29121992]
# 6500  손실 비용: 126.688194
- 판매량 :  [0.29523265]
# 7000  손실 비용: 126.44739
- 판매량 :  [0.29944813]
# 7500  손실 비용: 126.21641
- 판매량 :  [0.3038681]
# 8000  손실 비용: 125.99483
- 판매량 :  [0.30848533]
# 8500  손실 비용: 125.78215
- 판매량 :  [0.31329286]
# 9000  손실 비용: 125.578
- 판매량 :  [0.31828153]
# 9500  손실 비용: 125.38196
- 판매량 :  [0.32343975]