In [23]:
import cx_Oracle as ora
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
import numpy as np

def setKoreanFont() :
    from matplotlib import font_manager, rc
    font_name = font_manager.FontProperties(fname="C:/Windows/Fonts/gulim.ttc").get_name()
    rc("font", family=font_name)
    plt.rcParams["font.size"]=15
    plt.rcParams["figure.figsize"] = 14,8

In [24]:
con = ora.connect("WJV/wjvc3005@10.101.1.212:1521/CDW")

df_resource_001 = pd.read_sql("""

WITH VW_MIN_MAX AS (
SELECT  
    MAX(IDX_C1) AS MAX_IDX_C1,
    MIN(IDX_C1) AS MIN_IDX_C1,
    MAX(IDX_E2) AS MAX_IDX_E2,
    MIN(IDX_E2) AS MIN_IDX_E2,
    MAX(IDX_F1) AS MAX_IDX_F1,
    MIN(IDX_F1) AS MIN_IDX_F1,
    MAX(IDX_F2) AS MAX_IDX_F2,
    MIN(IDX_F2) AS MIN_IDX_F2,
    MAX(IDX_I1) AS MAX_IDX_I1,
    MIN(IDX_I1) AS MIN_IDX_I1,
    MAX(CNT)    AS MAX_CNT,
    MIN(CNT)    AS MIN_CNT
FROM SULIM_PRDCT_MART_001
WHERE SALE_YYMM < '201907'
)
SELECT
    SALE_YYMM,
    CNT,
    ROUND((IDX_C1-MIN_IDX_C1)/(MAX_IDX_C1-MIN_IDX_C1)*100,5) AS NORM_IDX_C1,
    ROUND((IDX_E2-MIN_IDX_E2)/(MAX_IDX_E2-MIN_IDX_E2)*100,5) AS NORM_IDX_E2,
    ROUND((IDX_F1-MIN_IDX_F1)/(MAX_IDX_F1-MIN_IDX_F1)*100,5) AS NORM_IDX_F1,
    ROUND((IDX_F2-MIN_IDX_F2)/(MAX_IDX_F2-MIN_IDX_F2)*100,5) AS NORM_IDX_F2,
    ROUND((IDX_I1-MIN_IDX_I1)/(MAX_IDX_I1-MIN_IDX_I1)*100,5) AS NORM_IDX_I1,
    ROUND((CNT-MIN_CNT)/(MAX_CNT-MIN_CNT)*100,5) AS NORM_CNT
FROM
    SULIM_PRDCT_MART_001 A,
    VW_MIN_MAX B
WHERE 1=1
AND SALE_YYMM < '201907'

""", con=con)

df_resource_002 = pd.read_sql("""

WITH VW_MIN_MAX AS (
SELECT  
    MAX(IDX_C1) AS MAX_IDX_C1,
    MIN(IDX_C1) AS MIN_IDX_C1,
    MAX(IDX_F1) AS MAX_IDX_F1,
    MIN(IDX_F1) AS MIN_IDX_F1,
    MAX(IDX_F2) AS MAX_IDX_F2,
    MIN(IDX_F2) AS MIN_IDX_F2,
    MAX(IDX_I1) AS MAX_IDX_I1,
    MIN(IDX_I1) AS MIN_IDX_I1,
    MAX(CNT)    AS MAX_CNT,
    MIN(CNT)    AS MIN_CNT
FROM SULIM_PRDCT_MART_002
AND SALE_YYMM < '201907'
)
SELECT
    SALE_YYMM,
    CNT,
    ROUND((IDX_C1-MIN_IDX_C1)/(MAX_IDX_C1-MIN_IDX_C1)*100,5) AS NORM_IDX_C1,
    ROUND((IDX_F1-MIN_IDX_F1)/(MAX_IDX_F1-MIN_IDX_F1)*100,5) AS NORM_IDX_F1,
    ROUND((IDX_F2-MIN_IDX_F2)/(MAX_IDX_F2-MIN_IDX_F2)*100,5) AS NORM_IDX_F2,
    ROUND((IDX_I1-MIN_IDX_I1)/(MAX_IDX_I1-MIN_IDX_I1)*100,5) AS NORM_IDX_I1,
    ROUND((CNT-MIN_CNT)/(MAX_CNT-MIN_CNT)*100,5) AS NORM_CNT
FROM
    SULIM_PRDCT_MART_002 A,
    VW_MIN_MAX B
WHERE 1=1
AND SALE_YYMM < '201907'

""", con=con)


df_resource_004 = pd.read_sql("""

WITH VW_MIN_MAX AS (
SELECT
    MIN(IDX_C1) AS MIN_VAL,
    MAX(IDX_C1) AS MAX_VAL
FROM 
    (
    SELECT SALE_YYMM,IDX_C1 FROM SULIM_PRDCT_MART_004 UNION ALL
    SELECT SALE_YYMM,IDX_F1 FROM SULIM_PRDCT_MART_004 UNION ALL
--    SELECT SALE_YYMM,IDX_F2 FROM SULIM_PRDCT_MART_004 UNION ALL
    SELECT SALE_YYMM,IDX_I1 FROM SULIM_PRDCT_MART_004 UNION ALL
    SELECT SALE_YYMM,CNT FROM SULIM_PRDCT_MART_004
    ) A
WHERE A.SALE_YYMM < '201907'
)
SELECT
    SALE_YYMM,
    CNT,
    MIN_VAL,
    MAX_VAL,
    ROUND((IDX_C1-MIN_VAL)/(MAX_VAL-MIN_VAL)*100,5) AS NORM_IDX_C1,
    ROUND((IDX_F1-MIN_VAL)/(MAX_VAL-MIN_VAL)*100,5) AS NORM_IDX_F1,
--    ROUND((IDX_F2-MIN_VAL)/(MAX_VAL-MIN_VAL)*100,5) AS NORM_IDX_F2,
    ROUND((IDX_I1-MIN_VAL)/(MAX_VAL-MIN_VAL)*100,5) AS NORM_IDX_I1,
    ROUND((CNT-MIN_VAL)/(MAX_VAL-MIN_VAL)*100,5) AS NORM_CNT
FROM
    SULIM_PRDCT_MART_004 A,
    VW_MIN_MAX B
WHERE 1=1
AND SALE_YYMM < '201907'
ORDER BY
    SALE_YYMM

""", con=con)


df_resource_008 = pd.read_sql("""

WITH VW_MIN_MAX AS (
SELECT  
    MAX(IDX_A1) AS MAX_IDX_A1,
    MIN(IDX_A1) AS MIN_IDX_A1,
    MAX(IDX_C1) AS MAX_IDX_C1,
    MIN(IDX_C1) AS MIN_IDX_C1,
    MAX(IDX_E2) AS MAX_IDX_E2,
    MIN(IDX_E2) AS MIN_IDX_E2,
    MAX(IDX_I1) AS MAX_IDX_I1,
    MIN(IDX_I1) AS MIN_IDX_I1,
    MAX(CNT)    AS MAX_CNT,
    MIN(CNT)    AS MIN_CNT
FROM SULIM_PRDCT_MART_008
WHERE SALE_YYMM < '201907'
)
SELECT
    SALE_YYMM,
    CNT,
    ROUND((IDX_A1-MIN_IDX_A1)/(MAX_IDX_A1-MIN_IDX_A1)*100,5) AS NORM_IDX_A1,
    ROUND((IDX_C1-MIN_IDX_C1)/(MAX_IDX_C1-MIN_IDX_C1)*100,5) AS NORM_IDX_C1,
    ROUND((IDX_E2-MIN_IDX_E2)/(MAX_IDX_E2-MIN_IDX_E2)*100,5) AS NORM_IDX_E2,
    ROUND((IDX_I1-MIN_IDX_I1)/(MAX_IDX_I1-MIN_IDX_I1)*100,5) AS NORM_IDX_I1,
    ROUND((CNT-MIN_CNT)/(MAX_CNT-MIN_CNT)*100,5) AS NORM_CNT
FROM
    SULIM_PRDCT_MART_008 A,
    VW_MIN_MAX B
WHERE 1=1
AND SALE_YYMM < '201907'

""", con=con)

df_resource_003 = pd.read_sql("""

WITH VW_MIN_MAX AS (
SELECT  
    MAX(IDX_A1) AS MAX_IDX_A1,
    MIN(IDX_A1) AS MIN_IDX_A1,
    MAX(IDX_F1) AS MAX_IDX_F1,
    MIN(IDX_F1) AS MIN_IDX_F1,
    MAX(IDX_F2) AS MAX_IDX_F2,
    MIN(IDX_F2) AS MIN_IDX_F2,
    MAX(IDX_I1) AS MAX_IDX_I1,
    MIN(IDX_I1) AS MIN_IDX_I1,
    MAX(CNT)    AS MAX_CNT,
    MIN(CNT)    AS MIN_CNT
FROM SULIM_PRDCT_MART_003
WHERE SALE_YYMM < '201907'
)
SELECT
    SALE_YYMM,
    CNT,
    ROUND((IDX_A1-MIN_IDX_A1)/(MAX_IDX_A1-MIN_IDX_A1)*100,5) AS NORM_IDX_A1,
    ROUND((IDX_F1-MIN_IDX_F1)/(MAX_IDX_F1-MIN_IDX_F1)*100,5) AS NORM_IDX_F1,
    ROUND((IDX_F2-MIN_IDX_F2)/(MAX_IDX_F2-MIN_IDX_F2)*100,5) AS NORM_IDX_F2,
    ROUND((IDX_I1-MIN_IDX_I1)/(MAX_IDX_I1-MIN_IDX_I1)*100,5) AS NORM_IDX_I1,
    ROUND((CNT-MIN_CNT)/(MAX_CNT-MIN_CNT)*100,5) AS NORM_CNT
FROM
    SULIM_PRDCT_MART_003 A,
    VW_MIN_MAX B
WHERE 1=1
AND SALE_YYMM < '201907'

""", con=con)

df_resource_tp1 = pd.read_sql("""

WITH VW_MIN_MAX AS (
SELECT  
    MAX(IDX_H1) AS MAX_IDX_H1,
    MIN(IDX_H1) AS MIN_IDX_H1,
    MAX(IDX_H2) AS MAX_IDX_H2,
    MIN(IDX_H2) AS MIN_IDX_H2,
    MAX(IDX_E3) AS MAX_IDX_E3,
    MIN(IDX_E3) AS MIN_IDX_E3,
    MAX(PORD_CNT)    AS MAX_CNT,
    MIN(PORD_CNT)    AS MIN_CNT
FROM SULIM_PRDCT_MART_TP1
WHERE SALE_YYMM < '201907'
)
SELECT
    SALE_YYMM,
    PORD_CNT AS CNT,
    ROUND((IDX_H1-MIN_IDX_H1)/(MAX_IDX_H1-MIN_IDX_H1)*100,5) AS NORM_IDX_H1,
    ROUND((IDX_H2-MIN_IDX_H2)/(MAX_IDX_H2-MIN_IDX_H2)*100,5) AS NORM_IDX_H2,
    ROUND((IDX_E3-MIN_IDX_E3)/(MAX_IDX_E3-MIN_IDX_E3)*100,5) AS NORM_IDX_E3,
    ROUND((PORD_CNT-MIN_CNT)/(MAX_CNT-MIN_CNT)*100,5) AS NORM_CNT
FROM
    SULIM_PRDCT_MART_TP1 A,
    VW_MIN_MAX B
WHERE 1=1
AND SALE_YYMM < '201907'

""", con=con)

con.close()

DatabaseError: Execution failed on sql '

WITH VW_MIN_MAX AS (
SELECT
    MAX(IDX_C1) AS MAX_IDX_C1,
    MIN(IDX_C1) AS MIN_IDX_C1,
    MAX(IDX_E2) AS MAX_IDX_E2,
    MIN(IDX_E2) AS MIN_IDX_E2,
    MAX(IDX_F1) AS MAX_IDX_F1,
    MIN(IDX_F1) AS MIN_IDX_F1,
    MAX(IDX_F2) AS MAX_IDX_F2,
    MIN(IDX_F2) AS MIN_IDX_F2,
    MAX(IDX_I1) AS MAX_IDX_I1,
    MIN(IDX_I1) AS MIN_IDX_I1,
    MAX(CNT)    AS MAX_CNT,
    MIN(CNT)    AS MIN_CNT
FROM SULIM_PRDCT_MART_001
AND SALE_YYMM < '201907'
)
SELECT
    SALE_YYMM,
    CNT,
    ROUND((IDX_C1-MIN_IDX_C1)/(MAX_IDX_C1-MIN_IDX_C1)*100,5) AS NORM_IDX_C1,
    ROUND((IDX_E2-MIN_IDX_E2)/(MAX_IDX_E2-MIN_IDX_E2)*100,5) AS NORM_IDX_E2,
    ROUND((IDX_F1-MIN_IDX_F1)/(MAX_IDX_F1-MIN_IDX_F1)*100,5) AS NORM_IDX_F1,
    ROUND((IDX_F2-MIN_IDX_F2)/(MAX_IDX_F2-MIN_IDX_F2)*100,5) AS NORM_IDX_F2,
    ROUND((IDX_I1-MIN_IDX_I1)/(MAX_IDX_I1-MIN_IDX_I1)*100,5) AS NORM_IDX_I1,
    ROUND((CNT-MIN_CNT)/(MAX_CNT-MIN_CNT)*100,5) AS NORM_CNT
FROM
    SULIM_PRDCT_MART_001 A,
    VW_MIN_MAX B
WHERE 1=1
AND SALE_YYMM < '201907'

': ORA-00907: 누락된 우괄호

In [3]:
# print(df_resource_001)
# print(df_resource_002)
# print(df_resource_004)
# print(df_resource_008)
# print(df_resource_003)
print(df_resource_tp1)

    SALE_YYMM    CNT  NORM_IDX_H1  NORM_IDX_H2  NORM_IDX_E3  NORM_CNT
0      200304  12869     31.69493     32.29977     32.33538  32.71394
1      200305  11531     32.71394     32.73076     35.84626  27.99619
2      200306  10888     27.99619     32.75071     31.27730  25.72899
3      200307  12436     25.72899     30.50002     29.02489  31.18719
4      200308  11798     31.18719     29.92139     27.54198  28.93763
5      200309   9224     28.93763     30.27655     29.16516  19.86178
6      200310   9309     19.86178     28.06576     25.58615  20.16149
7      200311   8233     20.16149     23.90359     19.19763  16.36755
8      200312   7936     16.36755     19.16278     17.22977  15.32033
9      200401   7936     15.32033     17.45082     17.46623  15.32033
10     200402   8240     15.32033     15.62313     15.35409  16.39223
11     200407   8640     14.62924     13.40836     14.82906  17.80262
12     200408   6552     17.80262     14.75717     20.83283  10.44039
13     200409   5379     10.44039     14.06281     11.43040   6.30443
14     200410   5551      6.30443     10.92222      6.56086   6.91090
15     200411   6077      6.91090      6.81192      5.61901   8.76556
16     200412   6187      8.76556      6.18141      7.53878   9.15341
17     200501   5525      9.15341      7.25488      8.39646   6.81922
18     200502   4564      6.81922      7.22295      6.76927   3.43077
19     200503   5638      3.43077      5.20771      2.47685   7.21766
20     200504   5093      7.21766      4.47743      4.72526   5.29601
21     200505   4461      5.29601      3.90279      5.18616   3.06759
22     200506   4675      3.06759      3.76711      1.36267   3.82215
23     200507   4683      3.82215      2.48613      2.04401   3.85036
24     200508   4315      3.85036      1.93942      1.21839   2.55280
25     200509   4619      2.55280      1.74788      1.88770   3.62470
26     200510   5286      3.62470      1.67205      0.73745   5.97652
27     200511   5162      5.97652      2.47416      3.27442   5.53930
28     200512   6175      5.53930      3.59951      2.62114   9.11110
29     200601   4387      9.11110      5.67062      6.05587   2.80667
..        ...    ...          ...          ...          ...       ...
161    201701  15993     53.80628     59.68315     60.48255  43.72906
162    201702  17581     43.72906     55.59679     49.37277  49.32830
163    201703  21053     49.32830     53.29423     51.38872  61.57047
164    201704  26736     61.57047     56.22331     61.08773  81.60855
165    201705  20946     81.60855     70.51359     77.98084  61.19319
166    201706  29861     61.19319     74.99102     79.15514  92.62720
167    201707  23408     92.62720     86.70737     72.23358  69.87412
168    201708  17809     69.87412     82.27782     60.43846  50.13222
169    201709  20845     50.13222     78.10767     63.76498  60.83706
170    201710  15157     60.83706     66.11198     60.96750  40.78135
171    201711  21016     40.78135     55.13787     53.34055  61.44001
172    201712  20163     61.44001     59.40381     60.89936  58.43235
173    201801  16664     58.43235     58.49794     63.90125  46.09499
174    201802  15920     46.09499     60.50122     52.31454  43.47167
175    201803  16500     43.47167     53.72122     42.72775  45.51673
176    201804  19819     45.51673     48.84872     55.86950  57.21942
177    201805  18370     57.21942     53.04681     54.64310  52.11029
178    201806  16234     52.11029     56.30712     57.85339  44.57882
179    201807  14178     44.57882     55.95195     46.92798  37.32943
180    201808  11608     37.32943     48.44966     47.02016  28.26769
181    201809  18454     28.26769     39.45489     30.95267  52.40647
182    201810  12696     52.40647     42.40792     39.32909  32.10395
183    201811  14894     32.10395     40.43657     41.59352  39.85402
184    201812  21873     39.85402     44.80626     39.44531  64.46176
185    201901  21702     64.46176     49.35552     52.77945  63.85882
186    201902  15120     63.85882     61.33525     68.89904  40.65089
187    201903  21975     40.65089     61.63454     53.67320  64.82141
188    201904  17387     64.82141     61.77022     66.26187  48.64427
189    201905  16860     48.64427     56.03177     63.15579  46.78608
190    201906  15069     46.78608     58.34630     49.41285  40.47107

[191 rows x 6 columns]

In [4]:
mode = tf.global_variables_initializer()

In [5]:
xy_001 = np.array(df_resource_001, dtype=np.float32)
x_data_001 = xy_001[:,2:-1]
# print(x_data_001)
y_data_001 = xy_001[:,[-1]]
# print(y_data_001)
cnt_001 = xy_001[:,[1]]
min_cnt_001 = min(cnt_001)
max_cnt_001 = max(cnt_001)
print(min_cnt_001, max_cnt_001)

xy_002 = np.array(df_resource_002, dtype=np.float32)
x_data_002 = xy_002[:,2:-1]
# print(x_data_002)
y_data_002 = xy_002[:,[-1]]
# print(y_data_002)
cnt_002 = xy_002[:,[1]]
min_cnt_002= min(cnt_002)
max_cnt_002= max(cnt_002)
print(min_cnt_002, max_cnt_002)

xy_004 = np.array(df_resource_004, dtype=np.float32)
x_data_004 = xy_004[:,4:-1]
# print(x_data_004)
y_data_004 = xy_004[:,[-1]]
# print(y_data_004)

min_cnt_004= min(xy_004[:,[2]])
max_cnt_004= max(xy_004[:,[3]])
print(min_cnt_004, max_cnt_004)

xy_008 = np.array(df_resource_008, dtype=np.float32)
x_data_008 = xy_008[:,2:-1]
# print(x_data_008)
y_data_008 = xy_008[:,[-1]]
# print(y_data_008)
cnt_008 = xy_008[:,[1]]
min_cnt_008= min(cnt_008)
max_cnt_008= max(cnt_008)
print(min_cnt_008, max_cnt_008)

xy_003 = np.array(df_resource_003, dtype=np.float32)
x_data_003 = xy_003[:,2:-1]
# print(x_data_003)
y_data_003 = xy_003[:,[-1]]
# print(y_data_003)
cnt_003 = xy_003[:,[1]]
min_cnt_003= min(cnt_003)
max_cnt_003= max(cnt_003)
print(min_cnt_003, max_cnt_003)

xy_tp1 = np.array(df_resource_tp1, dtype=np.float32)
x_data_tp1 = xy_tp1[:,2:-1]
# print(x_data_tp1)
y_data_tp1 = xy_tp1[:,[-1]]
# print(y_data_tp1)
cnt_tp1 = xy_tp1[:,[1]]
min_cnt_tp1= min(cnt_tp1)
max_cnt_tp1= max(cnt_tp1)
print(min_cnt_tp1, max_cnt_tp1)

[20067.] [76954.]
[12970.] [38964.]
[6949.] [84546.]
[2597.] [14925.]
[1515.] [15068.]
[3591.] [31952.]

In [8]:
# (001)정수기
# placeholder 만들기
X_001 = tf.placeholder(tf.float32, shape=[None,5])
Y_001 = tf.placeholder(tf.float32, shape=[None,1])
# 가중치값 초기화
W_001 = tf.Variable(tf.random_normal([5,1],name='weight'))
# 바이어스값 초기화
b_001 = tf.Variable(tf.random_normal([1]), name='bias')

# 가설식 설정
hypothesis_001 = tf.matmul(X_001,W_001)+b_001
# 비용함수 설정
cost_001 = tf.reduce_mean(tf.square(hypothesis_001-Y_001))
# 최적화함수 설정
optimizer_001 = tf.train.GradientDescentOptimizer(learning_rate=0.000005)
train_001 = optimizer_001.minimize(cost_001)

# 세션 초기화
sess_001 = tf.Session()
# 글로벌 변수 초기화
sess_001.run(tf.global_variables_initializer())
# 학습진행
for step in range(100000) :
    cost_, hypo_, _ = sess_001.run([cost_001,hypothesis_001,train_001],feed_dict={X_001:x_data_001,Y_001:y_data_001})
    if step % 5000 == 0:
        print("#",step," 손실 비용:",cost_)
        print("- 판매량 : ", hypo_[0])

# 0  손실 비용: 15146.886
- 판매량 :  [-0.08822489]
# 5000  손실 비용: 140.49278
- 판매량 :  [-2.0647457]
# 10000  손실 비용: 132.63934
- 판매량 :  [-1.5324454]
# 15000  손실 비용: 128.83842
- 판매량 :  [-1.1739495]
# 20000  손실 비용: 126.78966
- 판매량 :  [-0.923976]
# 25000  손실 비용: 125.57098
- 판매량 :  [-0.7420018]
# 30000  손실 비용: 124.78652
- 판매량 :  [-0.6031945]
# 35000  손실 비용: 124.25029
- 판매량 :  [-0.49224633]
# 40000  손실 비용: 123.86605
- 판매량 :  [-0.39965862]
# 45000  손실 비용: 123.57904
- 판매량 :  [-0.3194322]
# 50000  손실 비용: 123.35618
- 판매량 :  [-0.24780971]
# 55000  손실 비용: 123.17625
- 판매량 :  [-0.18225014]
# 60000  손실 비용: 123.02548
- 판매량 :  [-0.12116718]
# 65000  손실 비용: 122.89462
- 판매량 :  [-0.06346226]
# 70000  손실 비용: 122.77755
- 판매량 :  [-0.00831038]
# 75000  손실 비용: 122.67004
- 판매량 :  [0.04480028]
# 80000  손실 비용: 122.5694
- 판매량 :  [0.09623599]
# 85000  손실 비용: 122.47356
- 판매량 :  [0.14635783]
# 90000  손실 비용: 122.38129
- 판매량 :  [0.1953758]
# 95000  손실 비용: 122.29174
- 판매량 :  [0.24342763]

In [10]:
# (002)비데
# placeholder 만들기
X_002 = tf.placeholder(tf.float32, shape=[None,4])
Y_002 = tf.placeholder(tf.float32, shape=[None,1])
# 가중치값 초기화
W_002 = tf.Variable(tf.random_normal([4,1],name='weight'))
# 바이어스값 초기화
b_002 = tf.Variable(tf.random_normal([1]), name='bias')

# 가설식 설정
hypothesis_002 = tf.matmul(X_002,W_002)+b_002
# 비용함수 설정
cost_002 = tf.reduce_mean(tf.square(hypothesis_002-Y_002))
# 최적화함수 설정
optimizer_002 = tf.train.GradientDescentOptimizer(learning_rate=0.000005)
train_002 = optimizer_002.minimize(cost_002)

# 세션 초기화
sess_002 = tf.Session()
# 글로벌 변수 초기화
sess_002.run(tf.global_variables_initializer())
# 학습진행
for step in range(100000) :
    cost_, hypo_, _ = sess_002.run([cost_002,hypothesis_002,train_002],feed_dict={X_002:x_data_002,Y_002:y_data_002})
    if step % 5000 == 0:
        print("#",step," 손실 비용:",cost_)
        print("- 판매량 : ", hypo_[0])

# 0  손실 비용: 3278.0046
- 판매량 :  [52.41187]
# 5000  손실 비용: 128.28217
- 판매량 :  [21.705212]
# 10000  손실 비용: 125.40515
- 판매량 :  [22.293541]
# 15000  손실 비용: 123.75485
- 판매량 :  [22.423964]
# 20000  손실 비용: 122.62062
- 판매량 :  [22.401218]
# 25000  손실 비용: 121.80158
- 판매량 :  [22.335842]
# 30000  손실 비용: 121.19771
- 판매량 :  [22.266386]
# 35000  손실 비용: 120.7444
- 판매량 :  [22.205294]
# 40000  손실 비용: 120.39719
- 판매량 :  [22.155554]
# 45000  손실 비용: 120.12476
- 판매량 :  [22.116953]
# 50000  손실 비용: 119.90531
- 판매량 :  [22.08818]
# 55000  손실 비용: 119.72338
- 판매량 :  [22.067932]
# 60000  손실 비용: 119.56829
- 판매량 :  [22.054752]
# 65000  손실 비용: 119.432365
- 판매량 :  [22.047606]
# 70000  손실 비용: 119.310234
- 판매량 :  [22.045547]
# 75000  손실 비용: 119.198296
- 판매량 :  [22.047544]
# 80000  손실 비용: 119.093636
- 판매량 :  [22.053059]
# 85000  손실 비용: 118.994934
- 판매량 :  [22.06143]
# 90000  손실 비용: 118.90022
- 판매량 :  [22.072195]
# 95000  손실 비용: 118.80899
- 판매량 :  [22.084991]

In [11]:
# (004)청정기
# placeholder 만들기
X_004 = tf.placeholder(tf.float32, shape=[None,3])
Y_004 = tf.placeholder(tf.float32, shape=[None,1])
# 가중치값 초기화
W_004 = tf.Variable(tf.random_normal([3,1],name='weight'))
# 바이어스값 초기화
b_004 = tf.Variable(tf.random_normal([1]), name='bias')

# 가설식 설정
hypothesis_004 = tf.matmul(X_004,W_004)+b_004
# 비용함수 설정
cost_004 = tf.reduce_mean(tf.square(hypothesis_004-Y_004))
# 최적화함수 설정
optimizer_004 = tf.train.GradientDescentOptimizer(learning_rate=0.000005)
train_004 = optimizer_004.minimize(cost_004)

# 세션 초기화
sess_004 = tf.Session()
# 글로벌 변수 초기화
sess_004.run(tf.global_variables_initializer())
# 학습진행
for step in range(100000) :
    cost_, hypo_, _ = sess_004.run([cost_004,hypothesis_004,train_004],feed_dict={X_004:x_data_004,Y_004:y_data_004})
    if step % 5000 == 0:
        print("#",step," 손실 비용:",cost_)
        print("- 판매량 : ", hypo_[0])

# 0  손실 비용: 118.049416
- 판매량 :  [29.255718]
# 5000  손실 비용: 37.251396
- 판매량 :  [21.617033]
# 10000  손실 비용: 37.0874
- 판매량 :  [21.690672]
# 15000  손실 비용: 37.07472
- 판매량 :  [21.687368]
# 20000  손실 비용: 37.065056
- 판매량 :  [21.678993]
# 25000  손실 비용: 37.057014
- 판매량 :  [21.671236]
# 30000  손실 비용: 37.0502
- 판매량 :  [21.664442]
# 35000  손실 비용: 37.044353
- 판매량 :  [21.6584]
# 40000  손실 비용: 37.039288
- 판매량 :  [21.653189]
# 45000  손실 비용: 37.034794
- 판매량 :  [21.648554]
# 50000  손실 비용: 37.03079
- 판매량 :  [21.64457]
# 55000  손실 비용: 37.027138
- 판매량 :  [21.641094]
# 60000  손실 비용: 37.0238
- 판매량 :  [21.637983]
# 65000  손실 비용: 37.02065
- 판매량 :  [21.635342]
# 70000  손실 비용: 37.017742
- 판매량 :  [21.633059]
# 75000  손실 비용: 37.014957
- 판매량 :  [21.631096]
# 80000  손실 비용: 37.012268
- 판매량 :  [21.629353]
# 85000  손실 비용: 37.009743
- 판매량 :  [21.627792]
# 90000  손실 비용: 37.007275
- 판매량 :  [21.626507]
# 95000  손실 비용: 37.004856
- 판매량 :  [21.62541]

In [12]:
# (008)매트리스
# placeholder 만들기
X_008 = tf.placeholder(tf.float32, shape=[None,4])
Y_008 = tf.placeholder(tf.float32, shape=[None,1])
# 가중치값 초기화
W_008 = tf.Variable(tf.random_normal([4,1],name='weight'))
# 바이어스값 초기화
b_008 = tf.Variable(tf.random_normal([1]), name='bias')

# 가설식 설정
hypothesis_008 = tf.matmul(X_008,W_008)+b_008
# 비용함수 설정
cost_008 = tf.reduce_mean(tf.square(hypothesis_008-Y_008))
# 최적화함수 설정
optimizer_008 = tf.train.GradientDescentOptimizer(learning_rate=0.000005)
train_008 = optimizer_004.minimize(cost_008)

# 세션 초기화
sess_008 = tf.Session()
# 글로벌 변수 초기화
sess_008.run(tf.global_variables_initializer())
# 학습진행
for step in range(100000) :
    cost_, hypo_, _ = sess_008.run([cost_008,hypothesis_008,train_008],feed_dict={X_008:x_data_008,Y_008:y_data_008})
    if step % 5000 == 0:
        print("#",step," 손실 비용:",cost_)
        print("- 판매량 : ", hypo_[0])

# 0  손실 비용: 6954.9136
- 판매량 :  [26.731304]
# 5000  손실 비용: 81.28678
- 판매량 :  [8.049578]
# 10000  손실 비용: 79.13104
- 판매량 :  [10.137522]
# 15000  손실 비용: 78.83327
- 판매량 :  [10.642565]
# 20000  손실 비용: 78.62702
- 판매량 :  [10.796014]
# 25000  손실 비용: 78.42947
- 판매량 :  [10.872612]
# 30000  손실 비용: 78.23624
- 판매량 :  [10.93189]
# 35000  손실 비용: 78.04707
- 판매량 :  [10.987019]
# 40000  손실 비용: 77.86202
- 판매량 :  [11.0406885]
# 45000  손실 비용: 77.68085
- 판매량 :  [11.093735]
# 50000  손실 비용: 77.50363
- 판매량 :  [11.146198]
# 55000  손실 비용: 77.33014
- 판매량 :  [11.198105]
# 60000  손실 비용: 77.16032
- 판매량 :  [11.249463]
# 65000  손실 비용: 76.99416
- 판매량 :  [11.30026]
# 70000  손실 비용: 76.831566
- 판매량 :  [11.350515]
# 75000  손실 비용: 76.67243
- 판매량 :  [11.400222]
# 80000  손실 비용: 76.5167
- 판매량 :  [11.4494]
# 85000  손실 비용: 76.36429
- 판매량 :  [11.498049]
# 90000  손실 비용: 76.21516
- 판매량 :  [11.546178]
# 95000  손실 비용: 76.069176
- 판매량 :  [11.593789]

In [14]:
# (003)연수기
# placeholder 만들기
X_003 = tf.placeholder(tf.float32, shape=[None,4])
Y_003 = tf.placeholder(tf.float32, shape=[None,1])
# 가중치값 초기화
W_003 = tf.Variable(tf.random_normal([4,1],name='weight'))
# 바이어스값 초기화
b_003 = tf.Variable(tf.random_normal([1]), name='bias')

# 가설식 설정
hypothesis_003 = tf.matmul(X_003,W_003)+b_003
# 비용함수 설정
cost_003 = tf.reduce_mean(tf.square(hypothesis_003-Y_003))
# 최적화함수 설정
optimizer_003 = tf.train.GradientDescentOptimizer(learning_rate=0.000005)
train_003 = optimizer_003.minimize(cost_003)

# 세션 초기화
sess_003 = tf.Session()
# 글로벌 변수 초기화
sess_003.run(tf.global_variables_initializer())
# 학습진행
for step in range(100000) :
    cost_, hypo_, _ = sess_003.run([cost_003,hypothesis_003,train_003],feed_dict={X_003:x_data_003,Y_003:y_data_003})
    if step % 5000 == 0:
        print("#",step," 손실 비용:",cost_)
        print("- 판매량 : ", hypo_[0])

# 0  손실 비용: 8414.73
- 판매량 :  [-58.451054]
# 5000  손실 비용: 107.45489
- 판매량 :  [35.448063]
# 10000  손실 비용: 104.343
- 판매량 :  [35.705963]
# 15000  손실 비용: 103.324486
- 판매량 :  [35.838837]
# 20000  손실 비용: 102.904686
- 판매량 :  [35.90478]
# 25000  손실 비용: 102.65701
- 판매량 :  [35.935028]
# 30000  손실 비용: 102.45949
- 판매량 :  [35.946205]
# 35000  손실 비용: 102.2774
- 판매량 :  [35.947243]
# 40000  손실 비용: 102.100655
- 판매량 :  [35.942833]
# 45000  손실 비용: 101.926605
- 판매량 :  [35.93562]
# 50000  손실 비용: 101.75437
- 판매량 :  [35.926685]
# 55000  손실 비용: 101.58365
- 판매량 :  [35.917397]
# 60000  손실 비용: 101.414406
- 판매량 :  [35.907303]
# 65000  손실 비용: 101.24657
- 판매량 :  [35.897175]
# 70000  손실 비용: 101.08014
- 판매량 :  [35.886772]
# 75000  손실 비용: 100.91492
- 판매량 :  [35.87658]
# 80000  손실 비용: 100.75163
- 판매량 :  [35.86641]
# 85000  손실 비용: 100.58913
- 판매량 :  [35.85616]
# 90000  손실 비용: 100.428406
- 판매량 :  [35.845966]
# 95000  손실 비용: 100.26877
- 판매량 :  [35.835796]

In [15]:
# (tp1)일시불
# placeholder 만들기
X_tp1 = tf.placeholder(tf.float32, shape=[None,3])
Y_tp1 = tf.placeholder(tf.float32, shape=[None,1])
# 가중치값 초기화
W_tp1 = tf.Variable(tf.random_normal([3,1],name='weight'))
# 바이어스값 초기화
b_tp1 = tf.Variable(tf.random_normal([1]), name='bias')

# 가설식 설정
hypothesis_tp1 = tf.matmul(X_tp1,W_tp1)+b_tp1
# 비용함수 설정
cost_tp1 = tf.reduce_mean(tf.square(hypothesis_tp1-Y_tp1))
# 최적화함수 설정
optimizer_tp1 = tf.train.GradientDescentOptimizer(learning_rate=0.000005)
train_tp1 = optimizer_004.minimize(cost_tp1)

# 세션 초기화
sess_tp1 = tf.Session()
# 글로벌 변수 초기화
sess_tp1.run(tf.global_variables_initializer())
# 학습진행
for step in range(100000) :
    cost_, hypo_, _ = sess_tp1.run([cost_tp1,hypothesis_tp1,train_tp1],feed_dict={X_tp1:x_data_tp1,Y_tp1:y_data_tp1})
    if step % 5000 == 0:
        print("#",step," 손실 비용:",cost_)
        print("- 판매량 : ", hypo_[0])

# 0  손실 비용: 1502.4966
- 판매량 :  [54.397205]
# 5000  손실 비용: 135.055
- 판매량 :  [29.01885]
# 10000  손실 비용: 134.20546
- 판매량 :  [29.173288]
# 15000  손실 비용: 133.81075
- 판매량 :  [29.25238]
# 20000  손실 비용: 133.53111
- 판매량 :  [29.306396]
# 25000  손실 비용: 133.29178
- 판매량 :  [29.349072]
# 30000  손실 비용: 133.06967
- 판매량 :  [29.38563]
# 35000  손실 비용: 132.85727
- 판매량 :  [29.41865]
# 40000  손실 비용: 132.65202
- 판매량 :  [29.44948]
# 45000  손실 비용: 132.45299
- 판매량 :  [29.478916]
# 50000  손실 비용: 132.25978
- 판매량 :  [29.50737]
# 55000  손실 비용: 132.07214
- 판매량 :  [29.535118]
# 60000  손실 비용: 131.88991
- 판매량 :  [29.562279]
# 65000  손실 비용: 131.7129
- 판매량 :  [29.588957]
# 70000  손실 비용: 131.54097
- 판매량 :  [29.61517]
# 75000  손실 비용: 131.37396
- 판매량 :  [29.64099]
# 80000  손실 비용: 131.21178
- 판매량 :  [29.666435]
# 85000  손실 비용: 131.05421
- 판매량 :  [29.691504]
# 90000  손실 비용: 130.90115
- 판매량 :  [29.716198]
# 95000  손실 비용: 130.75253
- 판매량 :  [29.740515]

In [19]:
rslt_001 = sess_001.run(hypothesis_001,feed_dict={X_001:((66.19966,72.63951,61.19766,47.36794,72.11547),)})
prdct_rslt_001 = rslt_001/100*(max_cnt_001-min_cnt_001)+min_cnt_001
print(rslt_001,prdct_rslt_001,prdct_rslt_001/61390)
# rslt/100*(mac_cnt_001-min_cnt_001)+min_cnt_001

[[64.45965]] [[56736.16]] [[0.9241922]]

In [20]:
rslt_002 = sess_002.run(hypothesis_002,feed_dict={X_002:((40.21313,36.14958,32.33355,36.72413),)})
prdct_rslt_002 = rslt_002/100*(max_cnt_002-min_cnt_002)+min_cnt_002
print(rslt_002,prdct_rslt_002,prdct_rslt_002/24265)
# rslt/100*(mac_cnt_001-min_cnt_001)+min_cnt_001

[[36.57797]] [[22478.078]] [[0.92635804]]

In [21]:
rslt_004 = sess_004.run(hypothesis_004,feed_dict={X_004:((16.66044,18.65794,17.20298),)})
prdct_rslt_004 = rslt_004/100*(max_cnt_004-min_cnt_004)+min_cnt_004
print(rslt_004,prdct_rslt_004,prdct_rslt_004/29861)
# rslt/100*(mac_cnt_001-min_cnt_001)+min_cnt_001

[[17.878172]] [[20821.926]] [[0.697295]]

In [22]:
rslt_008 = sess_008.run(hypothesis_008,feed_dict={X_008:((58.32755,85.60188,90.10551,91.09195),)})
prdct_rslt_008 = rslt_008/100*(max_cnt_008-min_cnt_008)+min_cnt_008
print(rslt_008,prdct_rslt_008,prdct_rslt_008/14296)
# rslt/100*(mac_cnt_001-min_cnt_001)+min_cnt_001

[[84.92043]] [[13065.99]] [[0.9139613]]

In [140]:
rslt_003 = sess_003.run(hypothesis_003,feed_dict={X_003:((1.23474,3.1402,2.62691,0),)})
prdct_rslt_003 = rslt_003/100*(max_cnt_003-min_cnt_003)+min_cnt_003
print(rslt_003,prdct_rslt_003,prdct_rslt_003/3472)
# rslt/100*(mac_cnt_001-min_cnt_001)+min_cnt_001

[[3.4288933]] [[1979.7179]] [[0.57019526]]

In [141]:
rslt_tp1 = sess_tp1.run(hypothesis_tp1,feed_dict={X_tp1:((44.99841,47.78323,42.92814),)})
prdct_rslt_tp1 = rslt_tp1/100*(max_cnt_tp1-min_cnt_tp1)+min_cnt_tp1
print(rslt_tp1,prdct_rslt_tp1,prdct_rslt_tp1/11724)
# rslt/100*(mac_cnt_001-min_cnt_001)+min_cnt_001

[[41.26579]] [[15294.391]] [[1.3045369]]

In [142]:
final_rslt = 6000+prdct_rslt_001+prdct_rslt_002+prdct_rslt_004+prdct_rslt_008+prdct_rslt_003+prdct_rslt_tp1
print(final_rslt,final_rslt/139547)

[[139103.25]] [[0.99682007]]